:root {
    --fa-stroke: #151515;
    --fa-sel-stroke: #21ff57;
    --sel-fill: #317fff10;
    --sel-stroke: #317fff;
    --handle-fill: #cd34ff;
}

/* App layout */

#app-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max(16rem, min(25%, 24rem));
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
        "canvas   drag-items "
        "canvas   config-menu"
        "analysis analysis   ";
    gap: 1rem 1rem;
}

#canvas {
    border: 1px solid black;
    grid-area: canvas;
    height: 40rem;
    width: 100%;
}

.state {
    cursor: move;
    stroke-width: 2;
    stroke: var(--fa-stroke);
    fill: none;
    pointer-events: visibleFill;
}

.edge {
    stroke-width: 2;
    stroke: var(--fa-stroke);
    fill: none;
    marker-end: url(#arrow);
}

#arrow {
    fill: context-stroke;
}

.selected {
    stroke: var(--fa-sel-stroke);
}

.selection {
    stroke-width: 1;
    stroke: var(--sel-stroke);
    fill: var(--sel-fill);
}

#add-state {
    padding: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: move;
    user-select: none;
    grid-area: drag-items;
}

.statelike {
    box-sizing: border-box;
    /* Using px here to correspond to SVG units */
    width: 74px;
    height: 74px;
    border: 2px solid var(--fa-stroke);
    border-radius: 100%;
}

.draggable {
    position: fixed;
}

#config-menu-container {
    grid-area: config-menu;
    width: 100%;
}

#line-choice:not(:checked)~#line-options {
    display: none;
}

.control-handle {
    stroke: none;
    fill: var(--handle-fill);
    cursor: crosshair;
}

.trans-char-container, .state-name {
    text-anchor: middle;
    font: 1.25rem sans-serif;
    user-select: none;
    fill: var(--fa-stroke);
}

.state-name {
    stroke: none;
    dominant-baseline: central;
}

#config-menu-container:not(.none) > #config-menu-hint,
#config-menu-container.none > #common-menu,
#config-menu-container:not(.trans) > #trans-config,
#config-menu-container:not(.state) > #state-config,
#config-menu-container:not(.mult) > #mult-warning {
    display: none;
}
